.vscode

.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea
*.apk
*.log
signing.gradle
storepass
storepass.new
tmp
local.gradle
*/build/

# .iml files excluded, for: 
# http://stackoverflow.com/questions/16736856/what-should-be-in-my-gitignore-for-an-android-studio-project
*.iml

/VERSION
log.txt
